<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/daterangepicker.css"/>
    <link rel="stylesheet" href="../../css/style.css">

    <title>统计分析系统 - 财务 - 结算客户汇总统计</title>
</head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">管理员</span>
                            <span class="text-muted text-xs block">紧商科技 <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="profile.html">个人信息</a></li>
                            <li><a class="dropdown-item" href="contacts.html">好友</a></li>
                            <li><a class="dropdown-item" href="mailbox.html">信箱</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="login.html">登出</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        SAS
                    </div>
                </li>

                <li>
                    <a href="#"><i class="fa fa-home"></i> <span class="nav-label">首页</span></a>
                </li>
                <li class="active">
                    <a href="#"><i class="fa fa-calculator"></i> <span class="nav-label">财务</span> <span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/settlementCustomerSummary">结算客户（线上、线下）</a></li>
                        <li class="active"><a href="/customerStatement">结算客户对账单</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yen-sign"></i> <span class="nav-label">销售</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">客户月采购额</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i> 注销
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>结算客户对账单</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="form1" class="form-horizontal">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">开票名称：</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="开票名称" name="invoiceName"
                                                       id="invoiceName"
                                                       class="settlementName form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">日期范围：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" placeholder="日期范围"
                                                       name="dateRange"
                                                       value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">会员编号：</label>
                                            <div class="col-sm-9">
                                                <div class="col-sm-9">
                                                    <input type="text" placeholder="会员编号" name="userNo" id="userNo"
                                                           class="settlementName form-control"/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">会员全称：</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="会员全称" name="userName" id="userName"
                                                       class="settlementName form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">公司名称：</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="公司名称" name="companyname"
                                                       id="companyname"
                                                       class="settlementName form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" class="btn btn-primary pull-right" id="search"
                                            style="margin-left:20px;">搜
                                        索
                                    </button>
                                    <button type="button" class="btn btn-default pull-right" id="refresh"
                                            style="margin-left:20px;">清 空
                                    </button>
                                    <button type="button" class="btn btn-default pull-right" id="export"
                                            style="margin-left:20px;">
                                        导出Excel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--table表格区域 -->
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="tableDisplay" id="dataTable" style="width:98%; margin: auto;">
                                    <table class="table table-bordered" style="margin-bottom:0px;">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="float-right">
                <strong>紧商科技</strong>
            </div>
            <div>
                <strong>Copyright</strong> 统计分析系统 0.0.1 &copy; 2019
            </div>
        </div>
    </div>
</div>

</body>


<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap-4.3.1.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../js/inspinia.js"></script>
<script src="../../plugins/metisMenu/jquery.metisMenu.js"></script>

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/locale/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript" src="../../js/moment.min.js"></script>
<script type="text/javascript" src="../../js/daterangepicker.min.js"></script>
<script type="text/javascript" src="../../js/typeahead.min.js"></script>

<script>
    var startDate = "";
    var endDate = "";

    $('input[name="dateRange"]').daterangepicker({
        "timePicker": false,
        "autoUpdateInput": false,
        "showDropdowns": true,
        "autoApply": true,
        "locale": {
            format: 'YYYY-MM-DD',
            applyLabel: '确定',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            weekLabel: 'W',
            customRangeLabel: 'Custom Range',
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
            firstDay: moment.localeData()._week.dow
        }
    }, function (start, end, label) {
        startDate = this.startDate.format(this.locale.format);
        endDate = this.endDate.format(this.locale.format);
        if (!this.startDate) {
            this.element.val('');
        } else {
            this.element.val(startDate + this.locale.separator + endDate);
        }
    });


    function add0(m) {
        return m < 10 ? '0' + m : m
    }

    function changeDateFormat(value) {

        if (value != null) {
            var time = new Date(value);
            var y = time.getFullYear();
            var m = time.getMonth() + 1;
            var d = time.getDate() - 1;
            var h = time.getHours();
            var mm = time.getMinutes();
            var s = time.getSeconds();
            return y + '-' + add0(m) + '-' + add0(d) + ' ' + add0(h) + ':' + add0(mm) + ':' + add0(s);
        }
        // return value;
    }

/*    function phoneOrPc() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            return false;
        } else {
            return true;
        }
    }*/

    $(document).ready(function () {

        var $dataTable = $("#dataTable table").bootstrapTable({
            method: "POST",
            cache: false,
            clickToSelect: true,
            pagination: true,
            sortable: true,
            pageNumber: 1,
            pageSize: 50,
            pageList: [10, 20, 50, 100],
            clickToSelect: true,
            locale: "zh-CN",
            striped: true,
            toggle: true,
            silent: true,
            //height: $(parent.window).height() - 145,
            sidePagination: "server",//设置后端分页
            url: "/buyerCapital/customerStatement",
            queryParams: function (params) {
                var temp = {
                    userName: $("#userName").val(),
                    userNo: $("#userNo").val(),
                    invoiceName: $("#invoiceName").val(),
                    companyname: $("#companyname").val(),
                    startDate: startDate,
                    endDate: endDate,
                    limit: params.limit,
                    offset: params.offset,
                    page: (params.offset / params.limit) + 1,
                    /*sort: params.sort,
                    sortOrder: params.order*/
                };
                return JSON.stringify(temp);
            }, columns: [{
                field: 'tradetime',
                title: '日期',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return changeDateFormat(row.tradetime)
                }
            }, {
                field: 'orderno',
                title: '交易编号',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'capitalTypeName',
                title: '类别',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'deliveryAmount',
                title: '发货金额',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'receivingAmount',
                title: '收款金额',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'otherAmount',
                title: '其他金额',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'receivableAccount',
                title: '应收款',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'invoiceamount',
                title: '开票金额',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'invoicebalance',
                title: '发票结余',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'payno',
                title: '支付单号',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'remark',
                title: '备注',
                align: 'center',
                valign: 'middle'
            }], onLoadSuccess: function (data) {
                console.info(data)
            },
            onLoadError: function () {
                console.log("数据加载失败！");
            },
            onDblClickRow: function (row, $element) {
            }
        });

        //搜索按钮
        $("button[id='search']").click(function () {
            $("#dataTable table").bootstrapTable('refresh');
        });

    });

    //导出excel功能按钮
    $("button[id='export']").click(function () {
        // var params = {
            var userName = $("#userName").val(),
            userNo= $("#userNo").val(),
            invoiceName = $("#invoiceName").val(),
            companyname = $("#companyname").val(),
            startDate=startDate,
            endDate=endDate;
        // };
        var url = "/buyerCapital/download/excel";
        // $("#form1").attr('action', url);
        // $("#form1").attr('method', "POST");
        // $("#form1").attr('Content-Type', "application/json; charset=utf-8");
        // $("#form1").attr('params', JSON.stringify(params));
        // $("#form1").submit();
        window.location.href=url+"?userName="+userName+"&userNo"+userNo+"&invoiceName"+invoiceName+"&companyname"+companyname+"&startDate"+startDate+"&endDate"+endDate;

        // $.ajax({
        //     type: 'POST',
        //     url: url,
        //     data: JSON.stringify(params),
        //     contentType: "application/json; charset=utf-8",
        //     dataType: "json",
        //     success: function (data) {
        //         var $a = $("<a>");
        //         $a.attr("href", redata.data.file);
        //         $a.attr("download", redata.data.filename);
        //         $("body").append($a);
        //         $a[0].click();
        //         $a.remove();
        //     }
        //
        // });
    });

</script>


</html>