<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/daterangepicker.css"/>

    <title>统计分析系统 - 运营 - 商家详情统计</title>
</head>
<body>
<div id="wrapper">
    <!-- 菜单 -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu"></ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 顶部 -->
        <div class="row border-bottom" id="header"></div>
        <!-- 内容 -->
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>商家详情统计</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="form1" class="form-horizontal">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">商家名称：</label>
                                            <div class="col-sm-9">
                                                <input id="mobile" name="shopname" type="text" placeholder="输入商家名称"
                                                       class="shopname form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">时间周期：</label>
                                            <div class="col-sm-9">
                                                <input id="dateRange" name="dateRange" placeholder="选择时间周期"
                                                       class="form-control" type="text"/>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <input type="hidden" id="startDate" name="startDate" value=""/>
                                            <input type="hidden" id="endDate" name="endDate" value=""/>
                                            <input type="hidden" id="limit" name="limit" value=""/>
                                            <button type="button" class="btn btn-primary pull-right" id="search"
                                                    style="margin-left:20px;">搜 索</button>
                                            <button type="button" class="btn btn-default pull-right" id="refresh"
                                                    style="margin-left:20px;">清 空</button>
                                            <button type="button" class="btn btn-default pull-right" id="export"
                                                    style="margin-left:20px;">导出Excel</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <table class="table table-bordere">
                        <tr>
                            <td id="allPayedOrders">商家订单总量：</td>
                            <td id="allSentOrders">商家发货订单：</td>
                            <td id="amountRate">订单金额环比|同比：</td>
                            <td id="allPeoples">下单人数：</td>
                            <td id="amountOfNew">新用户订单金额：</td>
                            <td id="peopleOfNew">新用户下单人数：</td>
                            <td id="sentInDay">当天发货：</td>
                        </tr>
                        <tr>
                            <td id="unitPrice">客单价：</td>
                            <td id="unitPriceRate" >客单价环比|同比：</td>
                            <td id="sendRate">商家发货率：</td>
                            <td id="backRate">商家退货率：</td>
                            <td id="partSendRate">商家部分发货比例：</td>
                            <td id="violateRate">商家违约率：</td>
                            <td id="ordersOfCancelRate">订单未付款超时取消比例：</td>
                        </tr>
                    </table>
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="tableDisplay" id="dataTable" style="width:98%; margin: auto;">
                                    <table class="table table-bordered" style="margin-bottom:0px;">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="footer" id="footer"></div>
    </div>
</div>
</body>

<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap-4.3.1.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../js/inspinia.js"></script>
<script src="../../plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../../js/tableExport.min.js"></script>
<script src="../../js/bootstrap-table.min.js"></script>
<script src="../../js/bootstrap-table-export.min.js"></script>
<script src="../../js/bootstrap-table-zh-CN.min.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/daterangepicker.min.js"></script>
<script src="../../js/typeahead.min.js"></script>
<script src="../../js/searchOption.js"></script>
<script src="../../js/common.js"></script>

<script>
    // 设置展开和选中的菜单
    $('#side-menu').load('left.html', function () {
        $("li[id='home']").removeClass("active");
        $("#sales").removeClass("active");
        $("#operations").addClass("active");
        $("#operations ul").addClass("in");
        $("#operations ul").attr("aria-expanded=\'true\'");
        $("li[id='storeDetail']").addClass("active");
    });
    $('#header').load('header.html');
    $('#footer').load('footer.html');
    // 开始时间
    var startDate = "";
    // 结束时间
    var endDate = "";
    // 时间选择插件
    $('input[name="dateRange"]').daterangepicker({
        startDate:firstDayOfMonthSt(),
        endDate:todaySt(),
        timePicker: true,
        autoUpdateInput: true,
        showDropdowns: true,
        autoApply: true,
        locale: {
            format: 'YYYY-MM-DD',
            applyLabel: '确定',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            weekLabel: 'W',
            customRangeLabel: 'Custom Range',
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
            firstDay: moment.localeData()._week.dow
        }
    }, function (start, end, label) {
        startDate = start.format(this.locale.format);
        endDate = end.format(this.locale.format);
        if (!start) {
            this.element.val('');
        } else {
            this.element.val(startDate + this.locale.separator + endDate);
            // 设置自定义表单字段
            $("#startDate").val(startDate);
            $("#endDate").val(endDate);
        }

        // 时间输入框置空判断
        $("#dateRange").on("input", function (e) {
            if ($.trim(e.delegateTarget.value) == "") {
                startDate = "";
                endDate = "";
            }else {
                startDate = $("#startDate").val();
                endDate = $("#endDate").val();
            }
        });

    });

    $(document).ready(function () {
        // alert($("#startDate").val());
        startDate = firstDayOfMonthSt();
        endDate = todaySt();
        // 表单设置
        $("#dataTable table").bootstrapTable({
            method: "POST",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            cache: false,
            clickToSelect: true,
            pagination: true,
            sortable: false,
            pageNumber: 1,
            pageSize: 100,
            pageList: [10, 20, 50, 100],
            clickToSelect: true,
            locale: "zh-CN",
            striped: true,
            toggle: true,
            silent: true,
            sidePagination: "server",
            // sortName: "name",
            // sortOrder: "asc",
            url: "/storeDetail/page",
            queryParams: function (params) {
                var temp = {
                    shopname: $("input[name='shopname']").val(),
                    startDate: startDate,
                    endDate: endDate,
                    limit: params.limit,
                    offset: params.offset,
                    sort: params.sort,
                    sortOrder: params.order
                };
                // 设置开始时间
                $("#startDate").val(temp.startDate);
                // 设置结束时间
                $("#endDate").val(temp.endDate);
                return temp;
            },
            columns: [{
                field: 'shopname',
                title: '商家名称',
                align: 'left',
                valign: 'middle',
                sortable: 'false',
                formatter: function (value, row, index){ // 单元格格式化函数
                    var div = "<div style='width:200px;'>"+value+"</div>";//调列宽，在td中嵌套一个div，调整div大小
                    return div;
                }
            }, {
                field: 'waysalesman',
                title: '业务员',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            }, {
                field: 'clerkname',
                title: '客服',
                align: 'center',
                valign: 'middle' ,
                formatter: function (value, row, index){
                    var div = "<div style='width:50px;'>"+(value==null?'':value)+"</div>";//调列宽，在td中嵌套一个div，调整div大小
                    return div;
                }
            }, {
                field: '非关闭订单',
                title: '有效订单数量',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            }, {
                field: '付款订单数量',
                title: '付款订单数量',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            }, {
                field: '发货订单数量',
                title: '发货订单数量',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            }, {
                field: '下单金额',
                title: '订单金额',
                align: 'center',
                valign: 'middle',
                sortable: 'true'
            }, {
                field: '下单金额同比',
                title: '订单金额环比 | 同比',
                align: 'left',
                valign: 'middle',
                formatter: function (value, row, index) {
                    var tongbi = row.下单金额同比+'';
                    var huanbi = row.下单金额环比+'';
                    if(tongbi == null || tongbi == ''|| tongbi == 'null'){
                        tongbi ='-';
                    }else if(tongbi.indexOf('-') != -1){
                        tongbi='<span style="color:#05c31b"></i>↓'+  tongbi.replace('-','')+'%'+'</span>';
                    }else{
                        tongbi='<span style="color:#ea2612"></i>↑'+ tongbi+'%'+'</span>';
                    }
                    if(huanbi == null || huanbi == ''|| huanbi == 'null'){
                        huanbi ='-';
                    }else if(huanbi.indexOf('-') != -1){
                        huanbi='<span style="color:#05c31b"></i>↓'+ huanbi.replace('-','')+'%'+'</span>';
                    }else{
                        huanbi='<span style="color:#ea2612"></i>↑'+ huanbi+'%'+'</span>';
                    }
                    return huanbi+" | "+tongbi;
                }
            }, {
                field: '下单人数',
                title: '下单人数',
                align: 'center',
                valign: 'middle',
                sortable: 'true'
            }, {
                field: '首次下单金额',
                title: '新用户订单金额',
                align: 'center',
                valign: 'middle',
                sortable: 'true'
            }, {
                field: '首次下单人数',
                title: '新用户下单人数',
                align: 'center',
                valign: 'middle',
                sortable: 'true'
            },{
                field: '客单价',
                title: '客单价',
                align: 'center',
                valign: 'middle',
                sortable: 'true'
            }, {
                field: '同比客单价',
                title: '&nbsp;&nbsp;&nbsp;客单价环比 | 同比&nbsp;&nbsp;&nbsp; ',
                align: 'left',
                valign: 'middle',
                formatter: function (value, row, index) {
                    var tongbi = row.同比客单价+'';
                    var huanbi = row.环比客单价+'';
                    if(tongbi == null || tongbi == ''|| tongbi == 'null'){
                        tongbi ='-';
                    }else if(tongbi.indexOf('-') != -1){
                        tongbi='<span style="color:#05c31b"></i>↓'+  tongbi.replace('-','')+'%'+'</span>';
                    }else{
                        tongbi='<span style="color:#ea2612"></i>↑'+ tongbi+'%'+'</span>';
                    }
                    if(huanbi == null || huanbi == ''|| huanbi == 'null'){
                        huanbi ='-';
                    }else if(huanbi.indexOf('-') != -1){
                        huanbi='<span style="color:#05c31b"></i>↓'+ huanbi.replace('-','')+'%'+'</span>';
                    }else{
                        huanbi='<span style="color:#ea2612"></i>↑'+ huanbi+'%'+'</span>';
                    }
                    return huanbi+" | "+tongbi;
                }
            }, {
                field: '平均规格',
                title: '订单平均规格数',
                align: 'center',
                valign: 'middle',
                sortable: 'true'
            }, {
                field: '店铺发货率',
                title: '商家部分发货比例',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '店铺违约率',
                title: '商家违约率',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '未付款超时取消订单',
                title: '未付款超时取消订单比例',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '店铺退货率',
                title: '商家退货率',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '当日发货',
                title: '当日发货',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '超时一天发货',
                title: '超时一天发货',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '超时两天发货',
                title: '超时两天发货',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '超时三天',
                title: '超时三天',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '低于500元订单',
                title: '低于500元订单',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '在500_800元订单',
                title: '在500_800元订单',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '在800_1200订单',
                title: '在800_1200订单',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '在1200_1500元订单',
                title: '在1200_1500元订单',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '在1500_2000元订单',
                title: '在1500_2000元订单',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '在2000_5000元订单',
                title: '在2000_5000元订单',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }, {
                field: '在5000元以上订单',
                title: '在5000元以上订单',
                align: 'center',
                valign: 'middle',
                sortable: 'true',
                formatter: function (value, row, index) { return value+" %"; }
            }],
            onLoadSuccess: function (result) {
                $("#allPayedOrders").html("商家订单总量："+(result.allPayedOrders==null?0:result.allPayedOrders));
                $("#allSentOrders").html("商家已发货订单："+(result.allSentOrders==null?0:result.allSentOrders));
                $("#amountRate").html("下单金额环比/同比："+(result.amountRate==null?"0%":result.amountRate));
                $("#allPeoples").html("下单人数："+(result.allPeoples==null?0:result.allPeoples));
                $("#amountOfNew").html("新用户下单金额："+ (result.amountOfNew==null?0:result.amountOfNew));
                $("#peopleOfNew").html("新用户下单人数："+ (result.peopleOfNew==null?0:result.peopleOfNew));
                $("#sentInDay").html("平均当天发货完成率："+(result.sentInDay==null?"0%":result.sentInDay));
                $("#unitPrice").html("客单价："+(result.unitPrice==null?0:result.unitPrice));
                $("#unitPriceRate").html("客单价环比/同比："+(result.unitPriceRate==null?"0%":result.unitPriceRate));
                $("#sendRate").html("商家发货率："+(result.sendRate==null?"0%":result.sendRate));
                $("#backRate").html("商家退货率："+(result.backRate==null?"0%":result.backRate));
                $("#partSendRate").html("商家部分发货比例："+(result.partSendRate==null?"0%":result.partSendRate));
                $("#violateRate").html("商家违约率："+(result.violateRate==null?"0%":result.violateRate));
                $("#ordersOfCancelRate").html("订单未付款超时取消比例："+(result.ordersOfCancelRate==null?"0%":result.ordersOfCancelRate));
            },
            onLoadError: function (error) {
                console.log(error);
            },
            onDblClickRow: function (row, $element) {
            }
        });

        //查询按钮
        $("button[id='search']").click(function () {
            $("#dataTable table").bootstrapTable('refresh');
        });

        //清空按钮
        $("button[id='refresh']").click(function () {
            $("input[name='shopname']").val("");
            $("input[name='dateRange']").val("");
            $("#startDate").val('');
            $("#endDate").val('');
            startDate = '';
            endDate ='';
        });

        // 导出按钮
        $("button[id='export']").click(function () {
            $("#form1").attr('action', "/storeDetail/download/excel");
            $("#form1").attr('method', "POST");
            $("#form1").submit();
        });

    });

</script>

</html>