<!DOCTYPE html>
<html lang="zh-cn">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/daterangepicker.css"/>

    <title>统计分析系统 -系统 - 用户管理</title>
</head>
<body>
<div id="wrapper">
    <!-- 菜单 -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu"></ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 顶部 -->
        <div class="row border-bottom" id="header"></div>
        <!-- 内容 -->
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>新增用户</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="form1" class="form-horizontal" >
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">账号</label>
                                            <div class="col-sm-9">
                                                <input id="userName" name="userName" type="text" placeholder="账号"
                                                       class=" form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">姓名</label>
                                            <div class="col-sm-9">
                                                <input id="nickName" name="nickName" type="text" placeholder="姓名"
                                                       class=" form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">密码</label>
                                            <div class="col-sm-9">
                                                <input id="password" name="password" type="text" placeholder="密码"
                                                       class=" form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">手机号</label>
                                            <div class="col-sm-9">
                                                <input id="phoneNum" name="phoneNum" type="text" placeholder="手机号"
                                                       class=" form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">email</label>
                                            <div class="col-sm-9">
                                                <input id="email" name="email" type="text" placeholder="邮箱"
                                                       class=" form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">状态</label>
                                            <div class="col-sm-9 form-group row">
                                                <input id="status" name="status" type="checkbox" class="form-control" value="1" checked="checked" style="width: 20px; margin-left:40px"/>
                                                <label class="form-inline" style="font-size: 18px;margin-top:5px">&nbsp;是否启用</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="box-footer">
                                            <button type="button" class="btn btn-primary pull-right" id="addUser"
                                                    style="margin-left:20px;">新增
                                            </button>
                                            <button type="button" class="btn btn-default pull-right" id="refresh"
                                                    style="margin-left:20px;">清 空
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="footer" id="footer"></div>
    </div>
</div>
</body>

<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap-4.3.1.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../js/inspinia.js"></script>
<script src="../../plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../../js/tableExport.min.js"></script>
<script src="../../js/bootstrap-table.min.js"></script>
<script src="../../js/bootstrap-table-export.min.js"></script>
<script src="../../js/bootstrap-table-zh-CN.min.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/daterangepicker.min.js"></script>
<script src="../../js/typeahead.min.js"></script>
<!--<script src="../../js/searchOption.js"></script>-->

<script>
    // 设置展开和选中的菜单
    $('#side-menu').load('left.html', function () {
        $("#home").removeClass("active");
        $("#manage").addClass("active");
        $("#manage ul").addClass("in");
        $("#manage ul").attr("aria-expanded=\'true\'");
        $("#human").addClass("active");
    });
    $('#header').load('header.html');
    $('#footer').load('footer.html');


    $(document).ready(function () {

        //清空按钮
        $("button[id='refresh']").click(function () {
            $("#userName").val("");
            $("#nickName").val("");
            $("#password").val("");
            $("#status").val("");
            $("#email").val("");
            $("#phoneNum").val("");
        });


        $("#addUser").click(function () {
            registPost();
            event.preventDefault();
        });
        function registPost () {
            $.ajax({
                type: "post",
                url: "/user/addUser",
                data: $('#form1').serialize(),
                success:function(data){
                    if (data.code==200){
                        window.location.href="/addUser";
                    }else{
                        alert(data.message);
                    }
                }
            })
        }
    });

</script>

</html>