<!doctype html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">
    <!--    <link rel="icon" href="../icon/icon.png" sizes="32x32">-->

    <title>统计分析系统</title>
    <style>
        /*body{ text-align:center}*/
        .img-rounded {
            background: url("../image/background.jpg") repeat;
            height: 950px;
        }

        .form1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.7;
        }

    </style>
</head>

<body>
<div class="img-rounded">
    <div style="height: 500px;width: 400px;background-color: #293c5c;" class="form1">
        <h1 style="color: white;padding-left:150px;margin-top: 20px;">登 录</h1>
        <form class="form-horizontal" id="form1">
            <div class="col-sm-9 form-group">
                <input id="username" name="username" type="text" placeholder="账号" class="form-control" style="
                        width: 350px;margin-top: 50px;margin-left: 10px;"/>
            </div>
            <div class="col-sm-9 form-group">
                <input id="password" name="password" type="text" placeholder="密码" class="form-control" style="
                        width: 350px;margin-top: 50px;margin-left: 10px;"/>
            </div>
            <div class="box-footer form-group">
                <input type="hidden" id="message" th:value="${message}">
                <button type="button" class="btn btn-primary pull-right form-control" id="sub" style="
                        width: 347px;margin-top: 50px;margin-left: 26px;"/>登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
            </div>
        </form>
    </div>
</div>
</body>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-4.3.1.min.js"></script>
<script src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/china.js"></script>
<script src="plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/inspinia.js"></script>

<script>
    $(document).ready(function() {
        alert($("#message").val());
    })

</script>
</html>