<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>统计分析系统</title>
</head>

<body>
<div id="wrapper">
    <!-- 菜单 -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu"></ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 顶部 -->
        <div class="row border-bottom" id="header"></div>
        <!-- 内容 -->
        <div class="wrapper wrapper-content">
            <!-- 销售总计 -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-success float-left">本年度</span>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins"><label id="yearAmout">-</label> 万元</h1>
                            <small>总销售额</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-info float-left">本月</span>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins"><label id="monthAmout">-</label> 万元</h1>
                            <small>总销售额</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-warning float-left">紧商网入驻商家</span>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins"><label id="shopNum">-</label> 家</h1>
                            <small>&nbsp;</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 销售区间统计 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>总销售额（线上 + 线下）</h5>
                            <div class="float-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-xs btn-white active" id="salesDay">30天</button>
                                    <button type="button" class="btn btn-xs btn-white" id="salesMonth">12个月</button>
                                    <button type="button" class="btn btn-xs btn-white" id="salesYear">年度</button>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="sales" style="height:300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 销售区域 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>区域销售额</h5>
                        </div>
                        <div class="ibox-content" style="height:800px;">
                            <div id="china" style="height:600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="footer" id="footer"></div>
    </div>
</div>
</body>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-4.3.1.min.js"></script>
<script src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/china.js"></script>
<script src="plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/inspinia.js"></script>

<script>
    // 菜单
    $('#side-menu').load('left.html');
    $('#header').load('header.html');
    $('#footer').load('footer.html');

    // 商家数量
    $.ajax({
        type: 'POST',
        url: "/sales/getShopNum",
        data: {},
        dataType: "json",
        async: false,
        success: function (result) {
            $("#shopNum").text(result);
        }, error: function (error) {
            console.log(error);
        }
    });

    /**
     * 销售额周期统计（天、月、年）
     */
    // 日销售额
    var amountDay = [];
    // 日订单数
    var ordersDay = [];
    // 日期
    var lastDay = new Date().getDate() - 1;
    // 日销售额
    $.ajax({
        type: 'POST',
        url: "/sales/getSaleAmountByDay",
        data: {
            limit: "30"
        },
        dataType: "json",
        async: false,
        success: function (result) {
            lastDay = result.data[0].days;
            var len = 30;
            while (len--) {
                amountDay.push((result.data[len].amount / 10000).toFixed(4));
                ordersDay.push(result.data[len].counts);
            }
        }, error: function (error) {
            console.log(error);
        }
    });
    // 日销售额图表
    var salesOptionDays = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#283b56'
                }
            }
        },
        legend: {
            data: ['订单数', '销售额']
        },
        toolbox: {
            show: true,
            feature: {
                saveAsImage: {}
            }
        },
        dataZoom: {
            show: false,
            start: 0,
            end: 100
        },
        xAxis: [
            {
                type: 'category',
                boundaryGap: true,
                data: (function () {
                    var now = new Date(lastDay);
                    var res = [];
                    var len = 30;
                    while (len--) {
                        res.unshift(now.toLocaleDateString().replace(/^\D*/, ''));
                        now.setDate(now.getDate() - 1);
                    }
                    return res;
                })()
            }, {
                type: 'category',
                boundaryGap: true,
                data: (function () {
                    var res = [];
                    var len = 30;
                    while (len--) {
                        res.push('');
                    }
                    return res;
                })()
            }
        ],
        yAxis: [
            {
                type: 'value',
                scale: true,
                name: '订单数（个）',
                max: 500,
                min: 0,
                boundaryGap: [0.2, 0.2]
            },
            {
                type: 'value',
                scale: true,
                name: '销售额(万元)',
                max: 500,
                min: 0,
                boundaryGap: [0.2, 0.2]
            }
        ],
        series: [
            {
                name: '销售额',
                type: 'bar',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: amountDay
            }, {
                name: '订单数',
                type: 'line',
                data: ordersDay
            }
        ]
    };

    // 月销售额
    var amountMonth = [];
    // 月订单数
    var ordersMonth = [];
    var firstDay = false;
    // 月销售额
    $.ajax({
        type: 'POST',
        url: "/sales/getSaleAmountByMonth",
        data: {
            limit: "12"
        },
        dataType: "json",
        async: false,
        success: function (result) {
            if ((new Date().getFullYear()+""+("0" + (new Date().getMonth() + 1)).slice(-2)) > result.data[0].months) {
                firstDay = true;
            }

            // 不够12月补充0
            for (i = 12 - result.data.length; i > 0; i--) {
                amountMonth.push(0);
                ordersMonth.push(0);
            }
            for (i = result.data.length - 1; i >= 0; i--) {
                amountMonth.push((result.data[i].amount / 10000).toFixed(4));
                ordersMonth.push(result.data[i].counts);
            }

            // 设置当月销售额
            $("#monthAmout").text((result.data[0].amount / 10000).toFixed(6));
        }, error: function (error) {
            console.log(error);
        }
    });
    // 月销售额图表
    var salesOptionMonths = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#283b56'
                }
            }
        },
        legend: {
            data: ['订单数', '销售额']
        },
        toolbox: {
            show: true,
            feature: {
                saveAsImage: {}
            }
        },
        dataZoom: {
            show: false,
            start: 0,
            end: 100
        },
        xAxis: [
            {
                type: 'category',
                boundaryGap: true,
                data: (function () {
                    var now = new Date();

                    if (firstDay) {
                        now.setMonth(now.getMonth() - 1);
                        console.log(now);
                    }

                    var res = [];
                    var len = 12;
                    while (len--) {
                        res.unshift(now.getFullYear() + '年' + (now.getMonth() + 1) + '月');
                        now.setMonth(now.getMonth() - 1);
                    }
                    return res;
                })()
            },
            {
                type: 'category',
                boundaryGap: true,
                data: (function () {
                    var res = [];
                    var len = 12;
                    while (len--) {
                        res.push('');
                    }
                    return res;
                })()
            }
        ],
        yAxis: [
            {
                type: 'value',
                scale: true,
                name: '订单数（个）',
                max: 10000,
                min: 0,
                boundaryGap: [0.2, 0.2]
            },
            {
                type: 'value',
                scale: true,
                name: '销售额(万元)',
                max: 5000,
                min: 0,
                boundaryGap: [0.2, 0.2]
            }
        ],
        series: [
            {
                name: '销售额',
                type: 'bar',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: amountMonth
            },
            {
                name: '订单数',
                type: 'line',
                data: ordersMonth
            }
        ]
    };

    // 年销售额
    var amountYear = [];
    // 年订单数
    var ordersYear = [];
    // 年销售额
    $.ajax({
        type: 'POST',
        url: "/sales/getSaleAmountByYear",
        data: {
            limit: Math.abs(new Date().getFullYear() - 2017)
        },
        dataType: "json",
        async: false,
        success: function (result) {
            for (i = result.data.length - 1; i >= 0; i--) {
                amountYear.push((result.data[i].amount / 10000).toFixed(4));
                ordersYear.push(result.data[i].counts);
            }
            // 设置当年销售额
            $("#yearAmout").text((result.data[0].amount / 10000).toFixed(6));
        }, error: function (error) {
            console.log(error);
        }
    });
    // 年销售额图表
    var salesOptionYears = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#283b56'
                }
            }
        },
        legend: {
            data: ['订单数', '销售额']
        },
        toolbox: {
            show: true,
            feature: {
                saveAsImage: {}
            }
        },
        dataZoom: {
            show: false,
            start: 0,
            end: 100
        },
        xAxis: [
            {
                type: 'category',
                boundaryGap: true,
                data: (function () {
                    var now = new Date();
                    var res = [];
                    var len = 2;
                    while (len--) {
                        res.unshift(now.getFullYear() + '年');
                        now.setYear(now.getFullYear() - 1);
                    }
                    return res;
                })()
            },
            {
                type: 'category',
                boundaryGap: true,
                data: (function () {
                    var res = [];
                    var len = 2;
                    while (len--) {
                        res.push('');
                    }
                    return res;
                })()
            }
        ],
        yAxis: [
            {
                type: 'value',
                scale: true,
                name: '订单数（个）',
                max: 100000,
                min: 0,
                boundaryGap: [0.2, 0.2]
            },
            {
                type: 'value',
                scale: true,
                name: '销售额(万元)',
                max: 50000,
                min: 0,
                boundaryGap: [0.2, 0.2]
            }
        ],
        series: [
            {
                name: '销售额',
                type: 'bar',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: amountYear
            },
            {
                name: '订单数',
                type: 'line',
                data: ordersYear
            }
        ]
    };

    var salesMyChart = echarts.init(document.getElementById('sales'), 'light');

    $('#salesDay').click(function () {
        $('#salesDay').attr('class', 'btn btn-xs btn-white active');
        $('#salesMonth').attr('class', 'btn btn-xs btn-white');
        $('#salesYear').attr('class', 'btn btn-xs btn-white');

        salesMyChart.setOption(salesOptionDays, true);
    });
    $('#salesMonth').click(function () {
        $('#salesDay').attr('class', 'btn btn-xs btn-white');
        $('#salesMonth').attr('class', 'btn btn-xs btn-white active');
        $('#salesYear').attr('class', 'btn btn-xs btn-white');

        salesMyChart.setOption(salesOptionMonths, true);
    });
    $('#salesYear').click(function () {
        $('#salesDay').attr('class', 'btn btn-xs btn-white');
        $('#salesMonth').attr('class', 'btn btn-xs btn-white');
        $('#salesYear').attr('class', 'btn btn-xs btn-white active');

        salesMyChart.setOption(salesOptionYears, true);
    });

    salesMyChart.setOption(salesOptionDays, true);


</script>

<script>
    var mydata = [
    ];

    // 省份销售额
    $.ajax({
        type: 'POST',
        url: "/sales/getProvinceOfSales",
        data: {
        },
        dataType: "json",
        async: false,
        success: function (result) {
            mydata = result.data;
        }, error: function (error) {
            console.log(error);
        }
    });


    var optionMap = {
        backgroundColor: '#FFFFFF',
        title: {
            text: '年度销量地图（万元）',
            subtext: '',
            x: 'center'
        },
        tooltip: {
            trigger: 'item'
        },

        //左侧小导航图标
        visualMap: {
            show: true,
            x: 'left',
            y: 'center',
            splitList: [
                {start: 10000, end: 50000},
                {start: 5000, end: 10000},
                {start: 2000, end: 5000},
                {start: 1000, end: 2000},
                {start: 500, end: 1000},
                {start: 100, end: 500},
                {start: 0, end: 100},
            ],
            color: ['#FF0000','#5475f5', '#9feaa5', '#85daef', '#74e2ca', '#e6ac53', '#9fb5ea']
        },

        //配置属性
        series: [{
            name: '销售额（万元）',
            type: 'map',
            mapType: 'china',
            roam: true,
            label: {
                normal: {
                    show: false  //省份名称
                },
                emphasis: {
                    show: false
                }
            },
            data: mydata  //数据
        }]
    };
    //初始化echarts实例
    var myChart = echarts.init(document.getElementById('china'), 'light');

    //使用制定的配置项和数据显示图表
    myChart.setOption(optionMap);

</script>
</html>