<!DOCTYPE html>
<html lang="zh-cn">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/daterangepicker.css"/>

    <title>统计分析系统 - 销售 - 订单信息</title>
</head>
<body>
<div id="wrapper">
    <!-- 菜单 -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu"></ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 顶部 -->
        <div class="row border-bottom" id="header"></div>
        <!-- 内容 -->
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>订单信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="form1" class="form-horizontal">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">紧商网用户名称：</label>
                                            <div class="col-sm-9">
                                                <input id="username" name="username" type="text" placeholder="输入用户名" class="settlementName form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">买方单位：</label>
                                            <div class="col-sm-9">
                                                <input id="buyCompany" name="buyCompany" type="text" placeholder="输入买方单位" class="settlementName form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">卖方单位：</label>
                                            <div class="col-sm-9">
                                                <input id="sellCompany" name="sellCompany" type="text" placeholder="输入卖方单位" class="settlementName form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">订单号：</label>
                                            <div class="col-sm-9">
                                                <input id="orderno" name="orderno" type="text" placeholder="输入订单号" class="settlementName form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">时间周期：</label>
                                            <div class="col-sm-9">
                                                <input id="dateRange" name="dateRange" placeholder="选择时间周期"
                                                       class="form-control" type="text"/>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <input type="hidden" id="startDate" name="startDate" />
                                            <input type="hidden" id="endDate" name="endDate" />
                                            <input type="hidden" id="limit" name="limit" value=""/>
                                            <button type="button" class="btn btn-primary pull-right" id="search"
                                                    style="margin-left:20px;">搜 索</button>
                                            <button type="button" class="btn btn-default pull-right" id="refresh"
                                                    style="margin-left:20px;">清 空</button>
                                            <button type="button" class="btn btn-default pull-right" id="export"
                                                    style="margin-left:20px;">导出Excel</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="tableDisplay" id="dataTable" style="width:98%; margin: auto;">
                                    <table class="table table-bordered" style="margin-bottom:0px;">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="footer" id="footer"></div>
    </div>
</div>
</body>

<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap-4.3.1.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../js/inspinia.js"></script>
<script src="../../plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../../js/tableExport.min.js"></script>
<script src="../../js/bootstrap-table.min.js"></script>
<script src="../../js/bootstrap-table-export.min.js"></script>
<script src="../../js/bootstrap-table-zh-CN.min.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/daterangepicker.min.js"></script>
<script src="../../js/typeahead.min.js"></script>

<script>
    // 设置展开和选中的菜单
    $('#side-menu').load('left.html', function () {
        $("li[id='home']").removeClass("active");
        $("li[id='sales']").addClass("active");
        $("li[id='ordersInfo']").addClass("active");
    });
    $('#header').load('header.html');
    $('#footer').load('footer.html');
    // 开始时间
    var startDate = "";
    // 结束时间
    var endDate = "";
    // 时间选择插件
    $('input[name="dateRange"]').daterangepicker({
        timePicker: false,
        autoUpdateInput: false,
        showDropdowns: true,
        autoApply: true,
        locale: {
            format: 'YYYY-MM-DD',
            applyLabel: '确定',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            weekLabel: 'W',
            customRangeLabel: 'Custom Range',
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
            firstDay: moment.localeData()._week.dow
        }
    }, function (start, end, label) {
        startDate = start.format(this.locale.format);
        endDate = end.format(this.locale.format);
        if (!start) {
            this.element.val('');
        } else {
            this.element.val(startDate + this.locale.separator + endDate);
            // 设置自定义表单字段
            $("#startDate").val(startDate);
            $("#endDate").val(endDate);
        }

        // 时间输入框置空判断
        $("#dateRange").on("input", function (e) {
            if ($.trim(e.delegateTarget.value) == "") {
                // startDate = "";
                // endDate = "";
            }
            // console.log(startDate + new Date());
        });

    });

    $(document).ready(function () {
        // alert(123);
        // 表单设置
        $("#dataTable table").bootstrapTable({
            method: "POST",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            cache: false,
            clickToSelect: true,
            pagination: true,
            sortable: false,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            clickToSelect: true,
            locale: "zh-CN",
            striped: true,
            toggle: true,
            silent: true,
            sidePagination: "server",
            // sortName: "name",
            // sortOrder: "asc",
            url: "/orderDetail/orderInfo",
            queryParams: function (params) {
                var temp = {
                    username: $("input[name='username']").val(),
                    orderno: $("input[name='orderno']").val(),
                    sellCompany: $("input[name='sellCompany']").val(),
                    buyCompany: $("input[name='buyCompany']").val(),
                    startDate: startDate,
                    endDate: endDate,
                    limit: params.limit,
                    offset: params.offset,
                    sort: params.sort,
                    sortOrder: params.order
                };
                // 设置开始时间
                $("#startDate").val(temp.startDate);
                // 设置结束时间
                $("#endDate").val(temp.endDate);
                return temp;
            },
            columns: [ {
                field: 'createtime',
                title: '下单时间',
                align: 'center',
                valign: 'middle',
                sortable: 'true'
                ,formatter: function (value, row, index) {
                    var date = row.createtime;
                    date = date.replace("T", " ");
                    date = date.substring(0, date.indexOf('.'));
                    var mTimes = new Date(date);
                    var endTimes = mTimes.valueOf()+8*60*60*1000;
                    mTimes.setTime(endTimes);
                    return mTimes.getFullYear()+"-"+(mTimes.getMonth()+1)+"-"+(mTimes.getDay()+1)+" "+(mTimes.getHours())+":"+mTimes.getMinutes()+":"+mTimes.getSeconds();
                }
            },{
                field: 'orderno',
                title: '订单编号',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            }, {
                field: 'realname',
                title: '紧商网用户名称',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            }, {
                field: 'companyname',
                title: '买方',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            }, {
                field: 'invoiceheadup',
                title: '结算单位名称',
                align: 'left',
                valign: 'middle',
                sortable: 'false',
            }, {
                field: 'membercompany',
                title: '卖方',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            }, {
                field: 'clerkname',
                title: '客服',
                align: 'center',
                valign: 'middle',
                sortable: 'false'

            }, {
                field: 'waysalesman',
                title: '业务员',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            },{
                field: 'isonline',
                title: '来源',
                align: 'center',
                valign: 'middle',
                sortable: 'false',
                formatter:function (value, row, index) {
                    return row.isonline=='0'?'线上':'线下';
                }
            },{
                field: 'orderstatus',
                title: '状态',
                align: 'center',
                valign: 'middle',
                sortable: 'false',
                formatter:function (value, row, index) {
                    var orderstatus = row.orderstatus;
                    var back;
                    //订单状态0=待付款1=待发货3=待收货4=待验货5=已完成7=已关闭8=备货中9=备货完成10部分发货
                    switch (orderstatus) {
                        case 0: back = '待付款';break;
                        case 1: back = '待发货'; break;
                        case 3: back = '待收货'; break;
                        case 4: back = '待验货'; break;
                        case 5: back = '已完成'; break;
                        case 7: back = '已关闭'; break;
                        case 8: back = '备货中'; break;
                        case 9: back = '备货完成'; break;
                        case 10: back = '部分发货'; break;
                        default : back = '未知状态';
                    }
                    return back;
                }
            },{
                field: 'shipto',
                title: '收货人',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            },{
                field: 'phone',
                title: '收货电话',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            },{
                field: 'address',
                title: '收货地址',
                align: 'center',
                valign: 'middle',
                sortable: 'false'
            } ,{
                field: 'totalprice',
                title: '订单金额',
                align: 'right',
                valign: 'middle',
                sortable: 'false'
            }],
            onLoadSuccess: function (result) {

            },
            onLoadError: function (error) {
                console.log(error);
            },
            onDblClickRow: function (row, $element) {
                //
            }
        });

        //查询按钮
        $("button[id='search']").click(function () {
            $("#dataTable table").bootstrapTable('refresh');
        });

        //清空按钮
        $("button[id='refresh']").click(function () {
            $("input[name='username']").val("");
            $("input[name='dateRange']").val("");
            $("input[name='orderno']").val("");
            $("input[name='sellCompany']").val("");
            $("input[name='buyCompany']").val("");
            $("#startDate").val('');
            $("#endDate").val('');
            startDate = '';
            endDate ='';
        });

        // 导出按钮
        $("button[id='export']").click(function () {
            $("#form1").attr('action', "/orderDetail/download/orderInfo");
            $("#form1").attr('method', "POST");
            $("#form1").submit();
        });

    });

</script>

</html>