<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/daterangepicker.css"/>

    <title>统计分析系统 - 销售 - 商品销售额统计（紧商网）</title>
</head>
<body>
<div id="wrapper">
    <!-- 菜单 -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu"></ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- 顶部 -->
        <div class="row border-bottom" id="header"></div>
        <!-- 内容 -->
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>商品销售额统计（紧商网）</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="form1" class="form-horizontal">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">时间周期：</label>
                                            <div class="col-sm-9">
                                                <input id="dateRange" name="dateRange" placeholder="时间周期"
                                                       class="form-control"
                                                       type="text"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">商品名称：</label>
                                            <div class="col-sm-9">
                                                <input id="productName" name="productName" type="text"
                                                       placeholder="商品名称"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">一级分类：</label>
                                            <div class="col-sm-9">
                                                <input id="classOne" name="classOne" type="text" placeholder="一级分类"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">二级分类：</label>
                                            <div class="col-sm-9">
                                                <input id="classTwo" name="classTwo" type="text" placeholder="二级分类"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">标准：</label>
                                            <div class="col-sm-9">
                                                <input id="standard" name="standard" type="text" placeholder="标准（三级分类）"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">规格：</label>
                                            <div class="col-sm-9">
                                                <input id="measure" name="measure" type="text" placeholder="规格"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">品牌：</label>
                                            <div class="col-sm-9">
                                                <input id="brand" name="brand" type="text" placeholder="品牌"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">印记：</label>
                                            <div class="col-sm-9">
                                                <input id="mark" name="mark" type="text" placeholder="印记"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">材质：</label>
                                            <div class="col-sm-9">
                                                <input id="material" name="material" type="text" placeholder="材质"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">牌号：</label>
                                            <div class="col-sm-9">
                                                <input id="grade" name="grade" type="text" placeholder="牌号"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">表面处理：</label>
                                            <div class="col-sm-9">
                                                <input id="surface" name="surface" type="text" placeholder="表面处理"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row col-sm-4">
                                            <label class="col-sm-3 col-form-label">性能等级：</label>
                                            <div class="col-sm-9">
                                                <input id="performanceLevel" name="performanceLevel" type="text"
                                                       placeholder="性能等级"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="box-footer">
                                    <input type="hidden" id="startDate" name="startDate" value=""/>
                                    <input type="hidden" id="endDate" name="endDate" value=""/>
                                    <input type="hidden" id="limit" name="limit" value=""/>
                                    <button type="button" class="btn btn-primary pull-right" id="search"
                                            style="margin-left:20px;">搜
                                        索
                                    </button>
                                    <button type="button" class="btn btn-default pull-right" id="refresh"
                                            style="margin-left:20px;">清 空
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="tableDisplay" id="dataTable" style="width:98%; margin: auto;">
                                    <table class="table table-bordered" style="margin-bottom:0px;">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="footer" id="footer"></div>
    </div>
</div>
</body>

<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap-4.3.1.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../js/inspinia.js"></script>
<script src="../../plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../../js/tableExport.min.js"></script>
<script src="../../js/bootstrap-table.min.js"></script>
<script src="../../js/bootstrap-table-export.min.js"></script>
<script src="../../js/bootstrap-table-zh-CN.min.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/daterangepicker.min.js"></script>
<script src="../../js/typeahead.min.js"></script>

<script>
    // 设置菜单
    $('#side-menu').load('left.html', function () {
        $("li[id='home']").removeClass("active");
        $("li[id='sales']").addClass("active");
        $("li[id='productValueOfSales']").addClass("active");
    });
    $('#header').load('header.html');
    $('#footer').load('footer.html');

    // 开始时间
    var startCreateTime = "";
    // 结束时间
    var endCreateTime = "";
    // 时间选择插件
    $('input[name="dateRange"]').daterangepicker({
        timePicker: false,
        autoUpdateInput: false,
        showDropdowns: true,
        autoApply: true,
        locale: {
            format: 'YYYY-MM-DD',
            applyLabel: '确定',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            weekLabel: 'W',
            customRangeLabel: 'Custom Range',
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
            firstDay: moment.localeData()._week.dow
        }
    }, function (start, end, label) {
        startCreateTime = start.format(this.locale.format);
        endCreateTime = end.format(this.locale.format);
        if (!start) {
            this.element.val('');
        } else {
            this.element.val(startCreateTime + this.locale.separator + endCreateTime);
            // 设置自定义表单字段
            $("#startCreateTime").val(startCreateTime);
            $("#endCreateTime").val(endCreateTime);
        }

        // 时间输入框置空判断
        $("#dateRange").on("input", function (e) {
            if ($.trim(e.delegateTarget.value) == "") {
                startCreateTime = "";
                endCreateTime = "";
            }
        });

    });

    $(document).ready(function () {
        // 表单设置
        $("#dataTable table").bootstrapTable({
            method: "POST",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            cache: false,
            clickToSelect: true,
            pagination: false,
            sortable: false,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            clickToSelect: true,
            locale: "zh-CN",
            striped: true,
            toggle: true,
            silent: true,
            url: "/sales/getProductValueOfSales",
            queryParams: function (params) {
                var temp = {
                    productName: $("input[name='productName']").val(),
                    classOne: $("input[name='classOne']").val(),
                    classTwo: $("input[name='classTwo']").val(),
                    standard: $("input[name='standard']").val(),
                    measure: $("input[name='measure']").val(),
                    brand: $("input[name='brand']").val(),
                    mark: $("input[name='mark']").val(),
                    material: $("input[name='material']").val(),
                    grade: $("input[name='grade']").val(),
                    surface: $("input[name='surface']").val(),
                    performanceLevel: $("input[name='performanceLevel']").val(),
                    startCreateTime: function () {
                        if (startCreateTime == "") {
                            return "2018-01-01";
                        } else {
                            return startCreateTime;
                        }
                    },
                    endCreateTime: function () {
                        if (endCreateTime == "") {
                            return moment().format("YYYY-MM-DD");
                        } else {
                            return endCreateTime;
                        }
                    },
                    limit: params.limit,
                    offset: params.offset,
                    sort: params.sort,
                    sortOrder: params.order
                };
                // 设置开始时间
                $("#startCreateTime").val(temp.startCreateTime);
                // 设置结束时间
                $("#endCreateTime").val(temp.endCreateTime);
                return temp;
            },
            columns: [{
                field: 'count',
                title: '有效订单数量（个）',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'amount',
                title: '商品销售额（不含运费）（元）',
                align: 'center',
                valign: 'middle',
                sortable: 'true'
            }],
            onLoadSuccess: function (result) {
                // 设置导出limit值
                if (result.total) {
                    $("#limit").val(result.total);
                }
            },
            onLoadError: function (error) {
                console.log(error);
            },
            onDblClickRow: function (row, $element) {
                //
            }
        });

        // 查询按钮
        $("button[id='search']").click(function () {
            $("#dataTable table").bootstrapTable('refresh');
        });

        // 刷新按钮
        $("button[id='refresh']").click(function () {
            $("input[name='dateRange']").val("");
            $("input[name='productName']").val("");
            $("input[name='classOne']").val("");
            $("input[name='classTwo']").val("");
            $("input[name='standard']").val("");
            $("input[name='measure']").val("");
            $("input[name='brand']").val("");
            $("input[name='mark']").val("");
            $("input[name='material']").val("");
            $("input[name='grade']").val("");
            $("input[name='surface']").val("");
            $("input[name='performanceLevel']").val("");
        });

    });

    // 回车搜索
    $(document).on("keydown", function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e && e.keyCode == 13) {
            $("#search").trigger("click");
        }
    });

</script>

</html>